# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.env
.venv
.venv-1
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Local development
.DS_Store
